%header
  .headline
    %h1
      Staff / Principal
      %span.h1-break Full-Stack &amp;
      %span.h1-break DevOps Engineer
    .role
      Senior Full-Stack &amp; DevOps Engineer with 30+ years of professional experience designing, \
      scaling, and maintaining production systems. Deep expertise in Ruby on Rails, \
      cloud infrastructure (AWS/Heroku), Dockerized environments, and CI/CD pipelines. \
      Known for modernizing legacy systems, enforcing engineering standards, and enabling \
      teams to ship reliable software at scale.
    = render 'top_skills'
    = render 'home/links/hire_contact'
    = render 'home/links/static'
    = render 'home/links/cloud'
    = render 'home/links/cloudflare'
    = render 'home/links/download'
