<main>
  <!-- Left column -->
  <div class="section">
    <%= render 'home/main/experience' %>
    <%= render 'home/main/certifications' %>
    <%= render 'home/main/licenses' %>
    <%= render 'home/main/productivity' %>
  </div>

  <!-- Right column -->
  <div class="section">
    <%= render 'home/main/skills' %>
    <%= render 'home/main/highlights' %>
    <%= render 'home/main/impact' %>
    <%= render 'home/main/contact' %>
  </div>
</main>
